@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');
/* font-family: 'Poppins', sans-serif; */

html{
    font-size: 10px;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: hsl(0, 0%, 94%);
    display: grid;
    place-items: center;

}

.box-principal{
    width: 35.5rem;
    height: 50rem;
    background-color: #FFFFFF;
    box-sizing: border-box;
    padding: 5rem 2rem;
    border-radius: 20px 20px 120px 20px;
    box-shadow: 0px 0px 12px -7px;
}

.box-dma{
    display: flex;
}

.input-data{
    width: calc(28.3rem / 3);
    
}